:root {
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --logo-style-color:#000000;
    --accent-color-logo:#FFFFFF;
    --border-color:#ECECEC;
    --button-active-background-color:#F5F4FA;
    --button-active-secondary-color:#188CE8;
    --secondary-text-color:#757575;
    --footer-background-color:#2F303A;
}

html {
    box-sizing: border-box;
}

*, 
*::before, 
*::after {
    box-sizing: inherit;
}


body {
    color:var(--title-text-color);
    background-color:var(--accent-color-logo);
    font-family: Roboto, sans-serif;
    margin: 0;
    letter-spacing: 0.03em;
}
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
}

.list {
    list-style: none;
    padding-left: 0;
    margin: 0;
}

img {
   display: block;
   max-width: 100%;
   height: auto;
}

.link {
	text-decoration: none;
	color: inherit;
}

address {
    font-style: normal;
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}


/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* вторичный цвет текста rgba(255, 255, 255, 0.6); */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет фона #2F303A */
/* цвет рамки #ECECEC */

ul {
    list-style: none;
}

/* section-header */

.logo {
    display: inline-block;
    color:var(--logo-style-color);
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;;
    text-decoration: none;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 91px;
}

.web {
    color: var(--accent-color);
}
.studio {
    color:var(--logo-style-color);
}

.section-header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
}


/* header-site-nav */

.list {
    display: flex;
}

.header-site-nav {
    display: flex;
}


.site-nav .site-nav-item:not(:last-child) {
    margin-right: 50px;
}

.link-studio {
    color:var(--accent-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;    
    text-decoration: none;
    display: block;
}


.link-studio:hover,
.link-studio:focus {
    color:var(--accent-color);
}


.link-portfolio {
    color:var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
    display: block;
}   
    

.link-portfolio:hover,
.link-portfolio:focus {
    color:var(--accent-color);
}

.link-contacts {
    color:var(--title-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
   
}

.link-contacts:hover,
.link-contacts:focus {
    color:var(--accent-color);
}



/* section-contacts-nav */

.section-contacts-nav {
    display: flex;
    margin-left: auto;
}

.section-contacts-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
}

.link-email {
    color:var(--secondary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-right: 40px;
    margin-top: 32px;
    display: block;

}

.link-email:hover {
    color:var(--accent-color);
}

.link-tel {
    font-style: normal;
    color:var(--secondary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
    margin-right: 40px;
    margin-top: 32px;
    display: block;
   
}


/* section-service */

.section-service {
    background-color:var(--footer-background-color);
    display: flex;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.headline {
    color:var(--accent-color-logo);
    font-style: normal;
    font-weight: 900;
    width: 696px;
    font-size: 44px;
    line-height: 1,36;
    letter-spacing: 0.06em;

    text-transform: uppercase;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
}

.button-active {
    color:var(--title-text-color);
    background-color:var(--button-active-background-color);
    font-family: inherit;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    align-items: center;
    letter-spacing: 0.06em;
    cursor: pointer;


    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    display: inline;
}

.button-active:hover,
.button-active:focus {
    color:var(--accent-color-logo);
    background-color:var(--button-active-secondary-color);
}

/* section-advantages */

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.advantage-list {
    display: flex;
    align-items: center;
    margin: 0;
}

.title {
    color:var(--title-text-color);
    font-style: normal;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 10px;
}

.name {
    color:var(--secondary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
    padding-right: 30px;

}


/* section-responsibilities */

.section-responsibilities {
    padding-top: 0;
}
.topic {
    color:var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
    
}


.work-list {
    display: flex;
}

.photo-list {
    margin-right: 30px;
}

.photo-list:last-child {
    margin-right: 0;
}


/* team */

.section-team {
    background-color:var(--button-active-background-color);
}


.heading {
    color:var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1,16;
    letter-spacing: 0.03em;
    text-align: center;  
}

.team-list {
    display: flex;
}

.employee-list:not(:last-child) {
    margin-right: 30px;
}

.employee-box {
    background-color:var(--accent-color-logo);
    padding: 30px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.employee {
    color:var(--title-text-color);
    font-style: normal;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1,18;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
}

.work-position {
    color:var(--secondary-text-color);
    font-style: normal;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,18;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}


/* section-page-footer */

.section-page-footer {
    background-color:var(--footer-background-color);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: 1,19;
    letter-spacing: 0.03em;
    text-decoration: none;

    display: block;
    font-size: 26px;
    margin-bottom: 28px;
}


.web {
    color:var(--accent-color);
}

.studio-footer {
    color:var(--accent-color-logo);
}


.footer-item {
    display: block;
    margin-bottom: 12px;
}


.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.link-adress-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.link-email-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.link-tel-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,7;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);   
}


/* Portfolio */

.root {
    --title-text-color: #212121;
    --accent-color:#2196F3;
    --logo-style-color:#000000;
    --accent-color-logo:#FFFFFF;
    --border-color:#ECECEC;
    --button-active-background-color:#F5F4FA;
    --button-active-secondary-color:#188CE8;
    --secondary-text-color:#757575;
    --footer-background-color:#2F303A;
   
}


/* цвет основного текста #212121 */
/* вторичный цвет текста #757575 */
/* вторичный цвет текста color: rgba(255, 255, 255, 0.6); */
/* белый #FFFFFF */
/* акцент #2196F3 */
/* цвет фона #2F303A */


/* header */

.section-header {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
    border-bottom: 1px solid #ECECEC;
    display: flex;
    align-items: center;
}


/* header-site-nav */

.header-site-nav {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
 
.link-stud {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14px;
    letter-spacing: 0.02em;
    color:var(--title-text-color);
    text-decoration: none;
}

.link-stud:hover,
.link-stud:focus {
    color:var(--accent-color);
}

.link-portf {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
    text-decoration: none;
}

.link-portf:hover,
.link-portf:focus {
    color:var(--accent-color);
}

.link-contacts {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1,14;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-decoration: none;
}

.link-contacts:hover,
.link-contacts:focus {
    color:var(--accent-color);
}

/* section-contacts-nav */

.section-contacts-nav {
    margin-bottom: 32px;
    display: flex;
    align-items: center;
}


/* section-button-nav */

.button-nav {
    display: flex;
    justify-content: center;
}
.button-primary {
    font-family: inherit;
    color: var(--title-text-color);
    background-color:var(--button-active-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    border-radius: 4px;
    letter-spacing: 0.03em;
    cursor: pointer;
    text-align: center;
    border: none;
    padding: 6px 22px;
    margin-right: 8px;
}

.button-primary:hover {
    color:var(--accent-color-logo);
    background-color: var(--accent-color);
}

.button-secondary {
    font-family: inherit;
    color:var(--title-text-color);
    background-color:var(--button-active-background-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1,62;
    border-radius: 4px;
    letter-spacing: 0.03em;
    cursor: pointer;
    text-align: center;
    border: none;
    padding: 6px 22px;
    margin-right: 8px;
}

.button-secondary:hover {
    color: var(--accent-color-logo);
    background-color: var(--accent-color);
}

/* section-portfolio-nav */

.portfolio-nav {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0;
    margin-bottom: 94px;
}

.portfolio-item {
    width: calc((100% - 60px) / 3);
    margin-right: 30px;
    margin-bottom: 30px;
}

.portfolio-item:nth-child(3n) {
    margin-right: 0;
}

.portfolio-box {
    padding-left: 24px;
    padding-bottom: 20px;
    border: 1px solid #EEEEEE;
}

.section-title {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
}

.section-description {
    color:var(--secondary-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1,87;
    letter-spacing: 0.03em;
    margin-bottom: 0;
}


/* page-footer */

.page-footer {
    background-color:var(--footer-background-color);
}

.logo {
    font-family: Raleway, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1,19;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.web {
    color:var(--accent-color);
}

.studio-footer {
    color: var(--accent-color-logo);
}

.adress {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    text-decoration: none;
}

.link-adress-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--accent-color-logo);

}

.link-adress-footer:hover,
.link-adress-footer:focus {
    color:var(--accent-color);
}

.link-email-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.link-email-footer:hover,
.link-email-footer:focus {
    color: var(--accent-color);
}

.link-tel-footer {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1,71;
    letter-spacing: 0.03em;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}

.link-tel-footer:hover,
.link-tel-footer:focus {
    color:var(--accent-color);
}